## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored for easy retrieval, management, and manipulation. It provides a way to store, manage, and retrieve large amounts of data efficiently.

1. SQL Databases (Relational Databases):
   SQL databases, also known as relational databases, use Structured Query Language (SQL) for defining and manipulating the data. They are based on the relational model, which organizes data into tables consisting of rows and columns. SQL databases have a predefined schema that defines the structure of the data, including relationships between tables

2. NoSQL Databases (Non-Relational Databases):
    NoSQL databases, as the name suggests, are non-relational and do not adhere to a fixed schema. They are designed to handle unstructured and semi-structured data, making them more flexible and scalable for certain types of applications. NoSQL databases use various data models, such as key-value pairs, documents, wide-column stores, or graphs, depending on the specific database system.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL commands, also known as Data Definition Language is a set of command used to define and manage the structure of the database. They are used to create, modify and delete components of a database.
1. CREATE:
   The CREATE statement is used to create database objects such as tables, indexes, views, or schemas. It defines the structure and properties of the object being created.
   `CREATE TABLE Customers (  
    id INT PRIMARY KEY,    
    name VARCHAR(50),    
    email VARCHAR(100)    
);`
   
2. DROP:
    The DROP statement is used to remove database objects such as tables, indexes, or views. It permanently deletes the object and its associated data from the database.
`DROP TABLE Customers;`

3. ALTER:
    The ALTER statement is used to modify the structure of an existing database object. It allows adding, modifying, or deleting columns, constraints, or other properties of an object.
`ALTER TABLE Customers ADD phone VARCHAR(15);`
4. TRUNCATE:
    The TRUNCATE statement is used to remove all rows from a table, but it keeps the table structure intact. Unlike the DELETE statement, which deletes rows one by one, TRUNCATE is faster as it removes all data in a single operation.
`TRUNCATE TABLE Customers;`

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are used to insert, update, and delete data from tables.

Here are explanations and examples of commonly used DML statements:

1. INSERT:
The INSERT statement is used to add new rows of data into a table. It specifies the table name and the values to be inserted into the corresponding columns.
`INSERT INTO Customers (id, name, email)
VALUES (1, 'John Smith', 'john@example.com');
`
2. UPDATE:
The UPDATE statement is used to modify existing data within a table. It allows changing the values of specific columns in one or more rows that match a given condition.
`UPDATE Customers
SET email = 'john.smith@example.com'
WHERE id = 1;`
3. DELETE:
The DELETE statement is used to remove one or more rows from a table. It allows deleting rows based on specified conditions.
`DELETE FROM Customers
WHERE id = 1;`

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve and manipulate data from a database. DQL statements are primarily focused on querying and retrieving data from tables.

The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables based on specified criteria.

1. SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, the table(s) to query, and any conditions or criteria for filtering the results. It can also include functions, expressions, and sorting options to further refine the data retrieved.

`SELECT name, email
FROM Customers
WHERE branch= "mumbai";
`

## Q5. Explain Primary Key and Foreign Key.

1. A primary key is a column or a set of columns in a database table that uniquely identifies each row in that table. It serves as a unique identifier for each record and ensures the uniqueness and integrity of the data within the table. A primary key constraint enforces the uniqueness and non-nullability of the primary key columns.

2. A foreign key establishes a relationship between two tables in a database. It refers to the primary key of another table and represents a link between the data in the two tables. The foreign key constraint ensures referential integrity, maintaining consistency and enforcing data relationships across related tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
1. cursor():
The cursor() method creates a cursor object, which is used to execute SQL statements and retrieve results from the database. The cursor acts as a handle or pointer to the result set of a query.

2. execute():
The execute() method is used to execute SQL queries or statements through the cursor object. It takes an SQL statement as a parameter and sends it to the MySQL server for execution. The method can also take additional parameters to pass values for prepared statements or placeholders.

In [ ]:
import mysql.connenctor
mydb=mysql.connector.connect(
host='localhost',
user='abc',
password='password')

mycursor=mydb.cursor()
cursor.execute("SELECT * FROM customers")

## Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query generally follows the logical sequence described below:

1. FROM: The FROM clause specifies the tables or views from which the data will be retrieved. It identifies the data source for the query.

2. JOIN: The JOIN clause is used to combine rows from multiple tables based on a related column between them. It joins tables together based on the specified join conditions.

3. WHERE: The WHERE clause filters the rows based on specified conditions. It defines the criteria for selecting specific rows from the tables.

4. GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns. It allows for the aggregation of data within each group.

4. HAVING: The HAVING clause is used in conjunction with the GROUP BY clause to filter the groups based on specified conditions. It filters the grouped data after the aggregation has been performed.

6. SELECT: The SELECT clause specifies the columns or expressions to be included in the result set. It retrieves the desired columns and performs any necessary calculations or transformations.

7. DISTINCT: The DISTINCT keyword eliminates duplicate rows from the result set, ensuring that each row is unique based on the specified columns.

8. ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It specifies the sorting order, such as ascending (ASC) or descending (DESC).

9. LIMIT/OFFSET: The LIMIT clause (sometimes combined with OFFSET) is used to restrict the number of rows returned in the result set. It allows for pagination or retrieving a specific range of rows.