In [1]:
import pandas as pd

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
se1=pd.Series([4,8,15,16,23,42])
print(se1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
lst=[1,2,3,4,5,6,7,8,9,10]
se2=pd.Series(lst)
print(se2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [6]:
df1=pd.DataFrame({'Name':['Alice','Bob','Claire'], 'Age':[25,30,27],'Gender':['Female','Male','Female']})
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional tabular data structure consisting of rows and columns, similar to a table in a relational database or a spreadsheet. It is a fundamental object in pandas and is designed to handle and analyze data efficiently. The DataFrame can hold various types of data, such as integers, floats, strings, and more.

On the other hand, a Series is a one-dimensional labeled array in pandas. It can be thought of as a single column of data from a DataFrame. Each element in a Series has a unique label called an index, which allows for easy and efficient data access.

In [10]:
df=pd.DataFrame({'Name':['Alice','Bob','Claire'], 'Age':[25,30,27],'Gender':['Female','Male','Female']}) #Dataframe
print(df,'\n')
se=pd.Series(['Alice','Bob','Claire'])  #Series
print(se)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

0     Alice
1       Bob
2    Claire
dtype: object

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. Here are some common functions that are frequently used:

1. **head() and tail()**: These functions allow you to view the first or last few rows of a DataFrame, respectively. They are useful for quickly inspecting the data.


2. **info()**: This function provides a summary of the DataFrame, including the data types, column names, and non-null values. It helps in understanding the structure of the data.


3. **describe()**: This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values.


4. **sort_values()**: This function allows you to sort the DataFrame based on one or more columns. It is useful for organizing the data in a specific order.


5. **groupby()**: This function enables you to group the data based on one or more columns and perform aggregation or analysis on the grouped data. It is often used with aggregate functions like `sum()`, `mean()`, `count()`, etc.

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel? 



In pandas, both Series and DataFrame are mutable in nature, whereas Panel is not.

A mutable object is one that can be modified after it is created. In the case of pandas, it means that you can change the values, add or remove elements, or modify the structure of a mutable object.

Series:
A Series is mutable because you can modify its values or assign new values to specific elements using indexing or slicing operations.

DataFrame:
A DataFrame is mutable as well. You can modify the values in individual cells, add or remove columns or rows, and perform various operations to alter the structure or content of the DataFrame.

Panel:
A Panel, on the other hand, is an advanced data structure in pandas that represents three-dimensional data. However, as of pandas version 1.0.0, the Panel object is deprecated and is no longer recommended for general use. Instead, it is recommended to use other data structures like DataFrame or MultiIndex DataFrame to handle multi-dimensional data.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, you can combine the Series objects using the pd.DataFrame() constructor provided by pandas. Each Series will represent a column in the resulting DataFram

In [11]:
import pandas as pd


name_series = pd.Series(['John', 'Alice', 'Bob'])

age_series = pd.Series([25, 30, 35])

city_series = pd.Series(['New York', 'London', 'Paris'])

df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'City': city_series})

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris