## Q1. Create one variable containing following type of data:
## (i) string
## (ii) list
## (iii) float
## (iv) tuple

In [4]:
s="Hello world!"  #string
print(type(s)) 

lst=[1,2,'hello,True',8.333] #list
print(type(lst))

ft=2.34  #float
print(type(ft))

tpl=(1,2,3,'hello',True)  #tuple
print(type(tpl))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

## Q2. Given are some following variables containing data:
## (i) var1 = ‘ ‘
## (ii) var2 = ‘[ DS , ML , Python]’
## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
## (iv) var4 = 1.
## What will be the data type of the above given variable.

In [5]:
var1=''
print(type(var1))

var2='[ DS , ML , Python]'
print(type(var2))

var3=[ 'DS' , 'ML' , 'Python']
print(type(var3))

var4=1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

## Q3. Explain the use of the following operators using an example:
## (i) /
## (ii) %
## (iii) //
## (iv) **

(i) The / operator is the division operator in Python, which is used to divide two numbers and returns the result as a floating-point number.

(ii) The % operator is the modulus operator in Python, which is used to find the remainder of the division operation.

(iii) The // operator is the floor division operator in Python, which performs the division operation and returns the largest integer that is less than or equal to the result.

(iv) The ** operator is the exponentiation operator in Python, which is used to raise a number to a power.

In [6]:
x=5
y=3

print(x/y) 
print(x%y)
print(x//y)
print(x**y)

1.6666666666666667
2
1
125

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [9]:
lst=[1,2,3,4,'hello',2.55,True,False,3+4j,[1,2,3]]
for i in lst:
    print(i,"\t",type(i))

1 	 <class 'int'>
2 	 <class 'int'>
3 	 <class 'int'>
4 	 <class 'int'>
hello 	 <class 'str'>
2.55 	 <class 'float'>
True 	 <class 'bool'>
False 	 <class 'bool'>
(3+4j) 	 <class 'complex'>
[1, 2, 3] 	 <class 'list'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [18]:
a=100
a1=a
b=5

count=0
while(a%b==0):
    a=a/b
    count+=1
if count>0:
    print(f"Yes, {a1} is divisble by {b}\nCount = {count}")
else:
        print(f"No, {a1} is not divisble by {b}")

Yes, 100 is divisble by 5
Count = 2

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [19]:
lst= [2, 5, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]
for i in lst:
    if i%3==0:
        print(f"{i} is divisble by 3")
    else:
        print(f"{i} is not divisble by 3")

2 is not divisble by 3
5 is not divisble by 3
9 is divisble by 3
12 is divisble by 3
15 is divisble by 3
18 is divisble by 3
21 is divisble by 3
24 is divisble by 3
27 is divisble by 3
30 is divisble by 3
33 is divisble by 3
36 is divisble by 3
39 is divisble by 3
42 is divisble by 3
45 is divisble by 3
48 is divisble by 3
51 is divisble by 3
54 is divisble by 3
57 is divisble by 3
60 is divisble by 3
63 is divisble by 3
66 is divisble by 3
69 is divisble by 3
72 is divisble by 3
75 is divisble by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable data types are those that can be modified after creation, whereas immutable data types cannot be modified after creation.

#### Immutable data types:

int - integer values, such as 5 or -10
float - floating-point values, such as 3.14 or -2.5
bool - boolean values, either True or False
str - string values, such as "Hello, world!" or "1234"
tuple - ordered collections of values, enclosed in parentheses, such as (1, 2, 3) or ("apple", "banana", "cherry")

#### Mutable data types:

list - ordered collections of values, enclosed in square brackets, such as [1, 2, 3] or ["apple", "banana", "cherry"]
dict - unordered collections of key-value pairs, enclosed in curly braces, such as {"name": "Alice", "age": 30}

In [21]:
x = 5 # int
y = 3.14 # float
z = True # bool
s = "Hello, world!" # str
t = (1, 2, 3) # tuple

s[0] = "h" # TypeError: 'str' object does not support item assignment
t[0] = 0 # TypeError: 'tuple' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [23]:
l = [1, 2, 3] # list
d = {"name": "Alice", "age": 30} # dict

# Modifying a mutable data type is allowed
l[0] = 0 # [0, 2, 3]
d["age"] = 31 # {"name": "Alice", "age": 31}
print(l,"\n",d)

[0, 2, 3]
 {'name': 'Alice', 'age': 31}